

<style type="text/css">

.footer-nav .footer-left li:nth-child(4) a {color:#444;}
.site-wrapper{padding:15px;margin:0 15px 60px 15px;}
.site-wrapper .site-box{width:1400px;}
.site-wrapper .site-box ul .li-content{background:rgba(255,255,255,0.9);padding:15px;float:left;}
.site-wrapper .site-box ul .li-title{width:580px;height:320px;}
.site-wrapper .site-box ul h1{font-size:32px;font-weight:normal;margin-bottom:10px;font-family: 'MinionPro-Regular';}
.site-wrapper .site-box ul a{transition: all 0.5s;-webkit-transition: all 0.5s;color:#897642;}
.site-wrapper .site-box ul a:hover{transition: all 0.5s;-webkit-transition: all 0.5s;color:#444;}
.site-wrapper .site-box ul p{line-height:22px;margin-bottom:20px;font-size:15px;}


.site-wrapper .site-box  .clear{clear:both;}
.website-bg{width:100%;position:fixed;top:0;left:0;z-index:-1;}
.website-left{width:14px;background:#fff;position:fixed;bottom:0;top:0;left:0;z-index:99;}
.website-right{width:14px;background:#fff;position:fixed;bottom:0;top:0;right:0;z-index:99;}

@media screen and (min-width:1024px) and (max-width:1500px){
.website-bg{width:auto;}
.site-wrapper .site-box{width:auto;}
}


@media screen and (min-width:667px) and (max-width:1024px){
.website-bg{width:auto;}
.website-left,.website-right{display:none;}
.site-wrapper{padding:15px;margin:0 0 60px 0;}
.site-wrapper .site-box ul .li-content{float:none;}
.site-wrapper .site-box,.site-wrapper .site-box ul .lis,.site-wrapper .site-box ul .li-title{width:auto;height:auto;margin:0 0 2px 0;}
.site-wrapper .site-box ul li{width:auto;height:auto;float:none;}


}
@media screen and (min-width:300px) and (max-width:667px){
.website-bg{width:auto;}
.website-left,.website-right{display:none;}
.site-wrapper{padding:15px;margin:0;}
.site-wrapper .site-box ul .li-content{float:none;}
.site-wrapper .site-box,.site-wrapper .site-box ul .lis,.site-wrapper .site-box ul .li-title{width:auto;height:auto;margin:0 0 2px 0;}
.site-wrapper .site-box ul li{width:auto;height:auto;float:none;}
.site-wrapper .site-box ul .lis{width:auto;}

}
--></style>
<div class="site-wrapper">
<div class="site-box">
<ul>
<ul>
<li class="li-title li-content">
<h1>The requested page could not be found</h1>
<p>您输入的URL地址错误或页面内容已被存档、移除或重新命名。</p>

<p>请再次检查您输入的网址是否正确。或者，您可以通过下面的链接找到您需要的内容<a href="/">主页</a>或<a href="/search">搜寻功能。</a><p>

<p>如果页面自动跳转至此，我们很高兴能直接解答您的疑问：<a href="#">请联系我们</a> .我们很荣幸能帮助您获得更好的感受与体验。</p>


</li>

</ul>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="website-left"></div>
<div class="website-right"></div>
<img class="website-bg" src="https://cdn.shopify.com/s/files/1/0012/3391/1873/t/1/assets/lake.jpg" />