<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script>
var video=document.getElementById("videoPlay");

$(".know .know-content .part5 .btn-play").click(function(){
	$(this).fadeOut(300)
	$(".know .know-content .part5 img").fadeOut(300)
	video.play();
})





</script>
